@media all and (min-width: 1800px) {
}

/*iPad*/
@media all and (orientation: portrait) and (max-width: 768px) {
}

/*iPad x 75%*/
@media all and (orientation: landscape) and (max-width: 1024px) {
}

/*iPhone*/
@media all and (orientation: portrait) and (min-width: 320px) and (max-width: 640px) {
}

/*iPhone x 75%*/
@media all and (orientation: landscape) and (max-width: 480px) {
}