/* ------------- text -------------- */
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
p {}

a,
a:visited {}
a:hover,
a:active,
a:focus {}

ul {}
li {}
/* ------------- text -------------- */

/* ------------- body -------------- */
* {
  margin: 0 auto;
  padding: 0;
}

html,
body {
  width: 100%;
  min-width: 768px;
  background: #1a1a1a;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
       -o-text-size-adjust: 100%;
   -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
         -o-font-smoothing: antialiased;
}

html,
body,
#wrapper,
div#history,
div#summary {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

#wrapper { width: 100%; margin: 0; padding: 0; overflow: hidden; position: relative;}

header,
main,
section,
footer,
aside,
nav,
article,
img { display: block;}
/* ------------- body -------------- */

/* ------------- header -------------- */
/* ------------- header -------------- */

/* ------------- main -------------- */
div#history,
div#summary,
div#keyboard,
div#keyboard span {
  width: 100%;
  background-color: #1a1a1a;
  overflow: hidden;
  display: block;
  position: relative;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
	      user-select: none;
}
div#history { width: 768px; height: 247px; cursor: default;}
div#history div:first-child { height: 80%;}
div#history div:last-child { width: auto; height: 40px; font: normal 25px/1.5em 'Helvetica Neue', 'Arial', sans-serif; color: #ccbeb8; white-space: nowrap; text-align: right; right: 45px; position: absolute;}
div#history div:last-child img { width: 18px; height: 18px; margin: 0 5px; display: inline-block;}
/*
div#history ul { height: 40px; white-space: nowrap; text-align: right; right: 45px; position: absolute;}
div#history ul li { font: normal 25px/1.5em 'Helvetica Neue', 'Arial', sans-serif; color: #ccbeb8; display: inline-block;}
div#history ul li img { width: 18px; height: 18px;}
*/
div#summary { width: 768px; height: 195px; padding: 0 45px; cursor: default;}
div#summary h5 { font: normal 100 100px/1.9em 'Helvetica Neue', 'Arial', sans-serif; text-align: right; color: #ccbeb8; right: 45px; position: absolute;}
div#summary h5 img { width: 18px; height: 18px; margin: 0 5px; display: inline-block;}
div#keyboard { width: 768px; cursor: pointer;}
div#keyboard span { width: 20%; height: 153px; font: normal 200 50px/3em 'Helvetica Neue', 'Arial', sans-serif; text-align: center; float: left; display: inline-block;}
div#keyboard span:hover,
div#keyboard span:active,
div#keyboard span:visited { background-color: #111;}

span#seven,
span#eight,
span#nine,
span#four,
span#five,
span#six,
span#one,
span#two,
span#three,
span#zero,
span#comma,
span#plus-minus{ color: #ccbeb8;}
span#clear,
span#divide,
span#percent,
span#multiply,
span#minus,
span#plus,
span#equality { color: #f33;}
span#backspace img { margin: calc(50% - 20px) auto 0 auto;46px; height: 40px;}
/* ------------- main -------------- */

/* ------------- footer -------------- */
div.yashare-auto-init.b-share_theme_counter { width: 200px; clear: left; bottom: 78px; margin: 0 0 0 -3px; padding: 0 0 4px 0; position: absolute;}
.b-share-counter { color: #292c33 !important; line-height: 28px !important; text-align: left; float: none !important; margin: 3px 0 3px 30px !important; display: block !important;}
.b-share_theme_counter .b-share-btn__wrap { margin: 30px 8px 0 0 !important;}
.b-share_theme_counter .b-share__handle { height: 34px !important;}
.b-share_theme_counter .b-share__link { width: 55px !important; border-radius: 0 !important;}
.b-share_theme_counter .b-share-icon { width: 28px !important; height: 34px !important; background-size: cover !important; background-image: url("http://strash.ru/img/assets/share_logotypes_spryte_black.png") !important;}
.b-share_theme_counter .b-share-icon_twitter { background-position:0 -34px !important;}
.b-share_theme_counter .b-share-icon_vkontakte { background-position:0 -68px !important;}

.b-share_theme_counter .b-share-btn__facebook,
.b-share_theme_counter .b-share-btn__twitter,
.b-share_theme_counter .b-share-btn__vkontakte { background-color: #fff !important; border-bottom: 1px solid #fff;}
.b-share_theme_counter .b-share-btn__facebook:hover,
.b-share_theme_counter .b-share-btn__twitter:hover,
.b-share_theme_counter .b-share-btn__vkontakte:hover,
.b-share_theme_counter .b-share-btn__facebook:active,
.b-share_theme_counter .b-share-btn__twitter:active,
.b-share_theme_counter .b-share-btn__vkontakte:active { background-color: #fff !important; border-bottom: 1px solid #e5ceb8; border-top: none !important;}
/* ------------- footer -------------- */

/* ------------- 404 -------------- */
/* ------------- 404 -------------- */

/* ------------- ease -------------- */
a,
div#keyboard span{
  -webkit-transition: all 100ms ease-out;
     -moz-transition: all 100ms ease-out;
      -ms-transition: all 100ms ease-out;
       -o-transition: all 100ms ease-out;
          transition: all 100ms ease-out;
}
/* ------------- ease -------------- */