html, body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
}

body {
	height: 100%;
	background: #fff;
}

h1, h2, h3, h4, h5, h6, p, ul, li, .history, .summary, .zero, .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .comma, .plus_minus, .percent, .multiply, .minus, .divide, .clear, .equality, .plus, .backspace {
	font-family: 'Helvetica Neue', 'Segoe UI', 'Segoe WP', 'Roboto', Verdana, arial, sans-serif;
	line-height: 1.5;
}

h1 {
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	color: #ff3333;
	margin: 115px 0 0 0;
	padding: 0;
}

h2 {
	font-size: 26px;
	font-weight: 300;
	color: #555;
	margin: 0 auto;
	padding: 0;
}

h3 {
	font-size: 100px;
	font-weight: 100;
	text-align: right;
	color: #fff;
	margin: 0;
}

h4 {
	font-size: 25px;
	font-weight: 300;
	text-align: right;
	color: #fff;
	margin: 0;
}

h5 {
	font-size: 14px;
	font-weight: 400;
	color: #808080;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

h6 {
	font-size: 14px;
	font-weight: 400;
	color: #808080;
	text-align: left;
	margin: 0 auto;
	padding: 0;
}

p {
	font-size: 18px;
	font-weight: 400;
	color: #1a1a1a;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 90%;
}

ul {
	list-style-position: outside;
	font-size: 18px;
	font-weight: 400;
	color: #555;
	text-align: left;
	padding: 0 0 0 20px;
	margin: 0 auto;
	position: relative;
}

li {
    list-style: disc;
    padding: 0;
    margin: 0;
}

a, a:visited {
	color:#ff3333;
	text-decoration: none;
	outline: 0;
}

a:hover, a:focus, a:active {
	color: #cc0045;
	text-decoration: none;
}

.wrap {
	width: 768px;
	height: 100%;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.logotype {
	background:url(../img/logotype.png) no-repeat 0 0;
	width: 152px;
	height: 152px;
	padding: 0;
	margin: 0 auto;
	position: relative;
	top: 100px;
}

.appstore {
	background:url(../img/appstore.png) no-repeat 0 0;
	width: 200px;
	height: 57px;
	margin: 0 auto;
	position: absolute;
	display: block;
	left: 284px;
	-webkit-transition: background .2s;
	-moz-transition: background .2s;
	-o-transition: background .2s;
	transition: background .2s;
}

.appstore:hover, .appstore:active, .appstore:visited, .appstore:focus {
	background:url(../img/appstorehover.png) no-repeat 0 0;
	cursor: pointer;
}

.ipad {
	background: url(../img/ipad.png) no-repeat 0 0;
	width: 867px;
	height: 1285px;
	padding: 0;
	margin: 65px auto 85px auto;
	left: -51px;
	position: relative;
}

.display {
	width: 708px;
	height: 412px;
	top: 122px;
	margin: 0 51px;
	position: relative;
	z-index: 105;
	padding-left: 30px;
	padding-right: 30px;
}

.display-top {
	width: 708px;
	height: 227px;
	position: absolute;
}

.history {
	width: 708px;
	position: absolute;
	margin: 0 auto;
	overflow: hidden;
	bottom: 0;
}

.display-bottom {
	width: 708px;
	height: 185px;
	margin: 0 auto;	
	bottom: 0;
	position: absolute;
}

.icon-plus, .icon-minus, .icon-multiplication, .icon-division, .icon-equality {
	width: 18px;
	height: 18px;
	padding: 0;
	margin: 0 5px 0 0;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
	display: inline-block;
}

.icon-plus {
	background: url(../img/icon_plus.png) no-repeat 0 0;
}

.icon-minus {
	background: url(../img/icon_minus.png) no-repeat 0 0;
}

.icon-multiplication {
	background: url(../img/icon_multiplication.png) no-repeat 0 0;
}

.icon-division {
	background: url(../img/icon_division.png) no-repeat 0 0;
}

.icon-equality {
	background: url(../img/icon_equality.png) no-repeat 0 0;
}

.summary {
	white-space: nowrap;
	position: absolute;
	bottom: 22px;
	right: 0;
}

.keyboard {
	background-color: #000;
	width: 768px;
	height: 1024px;
	margin: 0 auto;
	top: 122px;
	left: 51px;
	display: block;
	position: absolute;
	padding: 0;
	margin: 0 auto;
	z-index: 100;
	cursor: default;
}

.zero, .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .comma, .plus_minus, .percent, .multiply, .minus, .divide, .clear, .equality, .plus, .backspace {
	font-size: 50px;
	line-height: 153px;
	font-weight: 100;
	text-align: center;
	height: 153px;
	color: #fff;
	background-color: #1f2126;
	margin: 0 auto;
	padding: 0;
	position: relative;
	top: 412px;
	float: left;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

.zero:hover, .one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover, .seven:hover, .eight:hover, .nine:hover, .comma:hover, .plus_minus:hover, .percent:hover, .multiply:hover, .minus:hover, .divide:hover, .clear:hover, .equality:hover, .plus:hover, .backspace:hover {
	background-color: #292c33;
}

.multiply:visited, .divide:visited, .equality:visited, .plus:visited, .minus:active, .multiply:active, .divide:active, .equality:active, .plus:active, .minus:active {
	box-shadow: inset 0 0 0 5px rgba(255,255,255,.1);
}

.zero, .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .comma, .plus_minus {
	width: 153px;
}

.percent, .multiply, .divide, .clear {
	width: 154px;
}

.equality, .plus, .minus, .backspace {
	width: 155px;
}

.multiply, .minus, .divide, .plus {
	color: #66cbff;
}

.clear {
	color: #ff3333;
}

.equality {
	color: #78ff66;
}

.backspace {
	background-image:url(../img/icon_backspace.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 46px 40px;
}

.autor {
	background: url(../img/strash.png) no-repeat 0 0;
	width: 62px;
	height: 20px;
	padding: 0;
	margin: 0 auto;
	position: absolute;
	left: 50px;
	cursor: pointer;
	display: block;
}

.autor:hover, .autor:focus, .autor:active {
	background: url(../img/strashhover.png) no-repeat 0 0;
}

.left {
	width: 700px;
	display: inline-block;
	position: relative;
	text-align: left;
	margin: 0 auto;
	padding-left: 50px;
}

.yashare-auto-init {
	margin: 0 0 100px 0;
}

.b-share {
	padding: 0;
}

.b-share-btn__wrap, .b-share_theme_counter {
	margin-left: 10px;
}

/*Для айфона*/
@media screen and (max-device-width: 480px) {
	h1 {
		font-size: 30px;
		font-weight: 400;
	}
	h2 {
		font-size: 80px;
	}

	h3 {
		font-size: 90px;
	}

	h4 {
		font-size: 40px;
	}

	h5 {
		font-size: 30px;
		margin: -180px 0 0 0;
	}

	h5:before {
		content: 'Only for iPad.';
	}

	h6 {
		font-size: 30px;
	}

	p {
		font-size: 36px;
		width: 80%;
		padding: 0;
	}

	ul {
		font-size: 36px;
	}

	.logotype {
		width: 150px;
		height: 150px;
	}

	.appstore {
		display: none;
	}

	.ipad {
		background: transparent;
		width: 768px;
		height: 1024px;
		top: -100px;
		margin: 40px auto 120px auto;
	}

	.history {
		font-size: 40px;
		bottom: 40px;
	}

	.icon-plus, .icon-minus, .icon-multiplication, .icon-division, .icon-equality {
		width: 28px;
		height: 28px;
		margin: 0 10px 0 0;
	}

	.summary {
		font-weight: 300;
	}

	.zero, .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .comma, .plus_minus, .percent, .multiply, .minus, .divide, .clear, .equality, .plus, .backspace {
		font-size: 60px;
		font-weight: 300;
	}

	.autor {
		width: 124px;
		height: 40px;
	}
}

/*Для айпада*/
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) {
	h2 {
		font-size: 30px;
		margin: 60px auto 0 auto;
		padding: 0;
	}

	p {
		width: 75%;
	}

	ul {
		padding: 0 0 0 20px;
	}

	.zero, .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .comma, .plus_minus, .percent, .multiply, .minus, .divide, .clear, .equality, .plus, .backspace {
		font-weight: 200;
	}

	.ipad {
		background: transparent;
		width: 768px;
		height: 1024px;
		top: -100px;
		margin: 40px auto;
	}
}

/*Для ретины*/
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.logotype {
		background:url(../img/logotype@2x.png) no-repeat 0 0;
		background-size: cover;
	}

	.appstore {
		background:url(../img/appstore@2x.png) no-repeat 0 0;
		background-size: cover;
	}

	.appstore:hover {
		background:url(../img/appstorehover@2x.png) no-repeat 0 0;
		background-size: cover;
	}

	.icon-plus {
		background: url(../img/icon_plus@2x.png) no-repeat 0 0;
		background-size: cover;
	}

	.icon-minus {
		background: url(../img/icon_minus@2x.png) no-repeat 0 0;
		background-size: cover;
	}

	.icon-multiplication {
		background: url(../img/icon_multiplication@2x.png) no-repeat 0 0;
		background-size: cover;
	}

	.icon-division {
		background: url(../img/icon_division@2x.png) no-repeat 0 0;
		background-size: cover;
	}

	.icon-equality {
		background: url(../img/icon_equality@2x.png) no-repeat 0 0;
		background-size: cover;
	}

	.backspace {
		background-image:url(../img/icon_backspace@2x.png);
		background-position: cover;
	}

	.autor {
		background: url(../img/strash@2x.png) no-repeat 0 0;
		background-size: cover;
	
	}

	.autor:hover, .autor:focus, .autor:active {
		background: url(../img/strashhover@2x.png) no-repeat 0 0;
		background-size: cover;
	}
}